<!DOCTYPE html>
<html>
<head>
	<title>Sửa ad</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-ad';
		}
	</script>
</head>
<body>
  <a href="/admin/danh-sach-ad/xoa-ad/<%= ad[0].TaiKhoan %>"><button type="button" name="">Xóa ad</button></a>
	<form action="/admin/danh-sach-ad/sua-ad/<%= ad[0].TaiKhoan %>" method="post">
		<input type="text" name="Ten" value="<%= ad[0].Ten %>" placeholder="Tên"><br>
		<input type="number" name="NamSinh" value="<%= ad[0].NamSinh %>" placeholder="Năm Sinh"><br>
		<hr>
		<p>Ad có các quyền sau hay không?</p>
		<label for="adminroot">Là admin root</label>
		<select name="adminroot">
      <% if(ad[0].AdminRoot[0] == 1){ %>
        <option value="0">Không</option>
        <option selected value="1">Có</option>
      <% }else{ %>
        <option selected value="0">Không</option>
        <option value="1">Có</option>
      <% } %>
		</select><br>
		<label for="suasv">sửa sinh viên</label>
		<select name="suasv">
      <% if(ad[0].SuaSV[0] == 1){ %>
        <option value="0">Không</option>
        <option selected value="1">Có</option>
      <% }else{ %>
        <option selected value="0">Không</option>
        <option value="1">Có</option>
      <% } %>
		</select><br>
		<label for="suahd">sửa hoạt động</label>
		<select name="suahd">
      <% if(ad[0].SuaHD[0] == 1){ %>
        <option value="0">Không</option>
        <option selected value="1">Có</option>
      <% }else{ %>
        <option selected value="0">Không</option>
        <option value="1">Có</option>
      <% } %>
		</select><br>
		<label for="suaad">sửa admin</label>
		<select name="suaad">
      <% if(ad[0].SuaAdmin[0] == 1){ %>
        <option value="0">Không</option>
        <option selected value="1">Có</option>
      <% }else{ %>
        <option selected value="0">Không</option>
        <option value="1">Có</option>
      <% } %>
		</select><br>
		<label for="suatlsv">sửa trợ lí sinh viên</label>
		<select name="suatlsv">
      <% if(ad[0].SuaTroLiSV[0] == 1){ %>
        <option value="0">Không</option>
        <option selected value="1">Có</option>
      <% }else{ %>
        <option selected value="0">Không</option>
        <option value="1">Có</option>
      <% } %>
		</select><br>

		<input type="text" name="taikhoan" value="<%= ad[0].TaiKhoan %>" placeholder="Tài Khoản"><br>
		<input type="text" name="matkhau" value="<%= ad[0].MatKhau %>" placeholder="Mật khẩu"><br>
		<input type="submit" value="Cập nhật"><br>
	</form>
	<button id='btn-cancle' onclick="clickbtn();">Hủy</button>
</body>
</html>
